    </main>
    <script>
        let input = document.getElementById("newItem")
        input.focus()
        document.getElementById("button").onclick = input.value === undefined ? alert("hace falta valor en el campo") : true
    </script>
</body>
</html>