<%- include("partials/head") %>
    <h1>Mi nombre es Alejandro Jesús Bautista Arellano</h1>
    <h2>Esta es una página web hecha con node.js XD <%= new Date() %></h2>
    <h3>Me siento muy feliz</h3>
    <p><%= title %></p>
<%- include("partials/footer") %>