<%- include("partials/head") %>
    <main>
        <section>
            <article>
                <h2>Esta es una página web hecha con node.js XD</h2>
            </article>
            <article>
                <h2><%= new Date() %></h2>
            </article>
        </section>
    </main>
<%- include("partials/footer") %>