<%- include("partials/head") %>
    <main>
        <section>
            <article>
                <h2>Bienvenido a mi primer servidor con Node.js y express</h2>
            </article>
        </section>
    </main>
<%- include("partials/footer") %>