@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    nav{
        display: flex;
        justify-content: space-between;
        grid-template-rows: 1fr;
        background-color: #8100ff;
        a, a:visited{
            margin: 20px;
            align-self: center;
            color: white;
            font-weight: 400;
            font-size: 50px;
            text-decoration: none;
        }
        ul{
            list-style: none;
            padding: 20px;
            li{
                padding: 10px;
                font-size: 25px;
                display: inline;
                a,a:visited{
                    text-decoration: none;
                    color: white;
                    font-weight: 600;
                    font-size: 25px;
                }
            }
            li:first-child{
                border-right: 2px white solid;
            }
        }
    }
    main{
        section{
            article{
                display: grid;
                place-items: center;
                h2{
                    background-color: rgba(255, 255, 255, 0.42);
                    display: inline;
                    border-radius: 20px;
                    text-align: center;
                    padding: 20px;
                    user-select: none;
                }
                ul{
                    list-style: none;
                    padding: 20px;
                    li{
                        padding: 10px;
                        font-size: 25px;
                        display: inline;
                        a,a:visited{
                            text-decoration: none;
                            color: white;
                            font-weight: 600;
                            font-size: 25px;
                        }
                    }
                }
                form{
                    display: grid;
                    place-items: center;
                    padding: 20px;
                }
            }
        }
    }
}